//HOME FILE
//this is a home page sass(scss) file

.main {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__mainInputBlock {
    display: flex;
    flex-direction: column;
}

.form__additionalInputBlock {
    display: flex;
    flex-direction: column;
}

.form__input {
    margin-bottom: 1rem;

    &:last-child {
        margin: 0;
    }
}

.form_button {
    display: block;
    margin: 0 auto;
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;

    &:hover {
        box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    }
}

@media screen and ( max-width: 768px ) {

    .main {
        display: flex;
        flex-direction: column;
    }

    .bookStore__section {
        width: 100%;
        position: relative;
    }
}
