//VARIABLES FILE
//this is a variables sass(scss) file

//COLOR VARIABLES
$color_white_ffffff: #fff;
$color_peach_f77: #f77;
$color_black_000000: #000;
$color_black_222222: #222;
$color_gray_727272: #727272;

// ---COMMON VARIABLES---
$height_contentHeaderFooter: 8vmin; //for contents of header & footer

//WIDTH VARIABLES
$width_logo: 54px;

//HEIGHT VARIABLES
$height_header: $height_contentHeaderFooter;
$height_mainNavigationBar: $width_logo; //for excellent visuality
$height_infoBlock: 100vmin;
$height_footer: $height_contentHeaderFooter;

//CUSTOM HEIGHT VARIABLES
$height_infoBlock_startBlock: $height_infoBlock - $height_header;
$height_infoBlock_endBlock: $height_infoBlock - $height_footer;
