@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body,
div,
nav,
ul,
h1,
h2,
h3,
p,
li,
a {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

h1,
h2,
h3,
p,
li,
a {
    word-wrap: break-word;
}

h1,
h2,
h3 {
    font: normal 1.5rem "Lato", sans-serif;
    color: #000;
}

p,
li,
a {
    font: normal 1rem "Roboto Mono", monospace;
    color: #222;
}

::selection {
    background-color: #f77;
}

.main {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__mainInputBlock {
    display: flex;
    flex-direction: column;
}

.form__additionalInputBlock {
    display: flex;
    flex-direction: column;
}

.form__input {
    margin-bottom: 1rem;
}

.form__input:last-child {
    margin: 0;
}

.form_button {
    display: block;
    margin: 0 auto;
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.form_button:hover {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

@media screen and ( max-width: 768px ) {

    .main {
        display: flex;
        flex-direction: column;
    }

    .bookStore__section {
        width: 100%;
        position: relative;
    }
}
